<mat-toolbar class="main-header mat-toolbar mat-primary mat-toolbar-single-row-header" color="primary">
  <button mat-icon-button="" class="mat-icon-button" (click)="toggleSideNavBar()"><span class="mat-button-wrapper">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <a [routerLink]="['/']">
    <div class="branding">
      <div class="logo"></div>
    </div>
  </a>
  
  <div class="separator" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
  </div>
  <button mat-icon-button="" class="mat-icon-button" (click)="toggleFullScreen()"><span class="mat-button-wrapper">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">fullscreen</mat-icon>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <!-- <button class="ml-xs overflow-visible mat-icon-button" mat-icon-button=""><span class="mat-button-wrapper">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">notifications</mat-icon><span
        class="notification-label">5</span>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button> -->
  <button aria-haspopup="true" class="ml-xs mat-icon-button" mat-icon-button=""><span class="mat-button-wrapper">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person</mat-icon>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <mat-menu x-position="before" class="ng-star-inserted">
  </mat-menu>
</mat-toolbar>